#wrapper {
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-top: 5%;
}

#preview{
  border: 1px solid black;
  width: 60vh;
  height: 75vh;
  background-color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#edit-container {
  width: 60vh;
  height: 75vh;
}

#editor {
  border: 1px solid black;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: coral;
}

#prev-text {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
}